// IMPORT BOURBON

@import "bourbon/bourbon";
@import "bitters/base";
@import "neat/neat";

// IMPORT VARIABLES

@import "variables";

// TABLE OF CONTENTS

// 1. GLOBAL STYLES
// 2. FONTS
// 3. TYPOGRAPHY
// 4. FLASHES
// 5. LISTS
// 6. SIMPLIFIED GRID

// GLOBAL STYLES

body, html {
	width: 100%;
	height: 100%;
	background: $cream;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.page-wrap {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	@include row();
	@include outer-container;
	@include mq(iphone) {
		max-width: 320px;
	}
	@include mq(android) {
		max-width: 480px;
	}
	@include mq(tablet) {
		max-width: 768px;
	}
	@include mq(laptop) {
		max-width: 960px;
	}
	@include mq(desktop) {
		max-width: 1280px;
	}
}

section {
	float: left;
	width: 100%;
	height: auto !important;
	min-height: 100% !important;
}

// HEADER

header.headroom {
	display: none;
	@include mq(tablet) {
		display: block;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1;
		@include transition(transform 500ms ease-in-out);
	}
}

 header.headroom--unpinned {
	@include transform(translateY(-800%));
}

 header.headroom--pinned {
	@include transform(translateY(0));
}

// NAV ICON

#nav-icon {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	width: 35px;
	height: 35px;
	@include transform(rotate(0deg));
	@include transition(all .5s ease-in-out);
	cursor: pointer;
	@include mq(tablet) {
		display: none;
	}
	&.open {
		span {
			&:nth-child(1) {
				top: 13px;
				width: 0%;
				left: 50%;
			}
			&:nth-child(2) {
				@include transform(rotate(45deg));
			}
			&:nth-child(3) {
				@include transform(rotate(-45deg));
			}
			&:nth-child(4) {
				top: 13px;
				width: 0%;
				left: 50%;
			}
		}
	}
	span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: $pumpkin;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		@include transform(rotate(0deg));
		@include transition(all .25s ease-in-out);
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2), &:nth-child(3) {
			top: 13px;
		}
		&:nth-child(4) {
			top: 26px;
		}
	}
}

// RESPONSIVE NAV 

.mobile-nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 101;
	ul {
		position: absolute;
		width: 80%;
		left: 10%;
		text-align: center;
		padding: 0;
		margin: 0;
		@include transform(translateY(-200%));
		@include transition(all .5s ease-in-out);
		li:nth-child(1) {
			a {
				@include border-top-radius($base-border-radius);
			}
		}
		li:nth-child(6) {
			a {
				@include border-bottom-radius($base-border-radius);
			}
		}
		li {
			margin-bottom: -1px;
			a {
				font-family: $cabin;
				font-weight: 700;
				width: 100%;
				color: $orange;
				background: $brown;
				padding: 12px 0;
				display: block;
				text-transform: uppercase;
				cursor: pointer;
				@include transition(all .3s ease-in-out);
				&:hover {
					text-indent: -100px;
					background: $pumpkin;
					color: $cream;
					text-transform: uppercase;
				}
				&.active {
					text-indent: -100px;
					background: $pumpkin;
					color: $cream;
					text-transform: uppercase;
				}
			}
		}
	}
}

// DESKTOP

.desktop-nav {
	float: right;
	position: relative;
	top: -175px;
	ul {
		li {
			display: inline;
			a {
				font-family: $cabin;
				font-weight: 700;
				background: $brown;
				padding: 10px 10px;
				color: $orange;
				border-radius: $base-border-radius;
				cursor: pointer;
				margin: 0 5px;
				@include transition(all .3s ease-in-out);
				&:hover {
					background: $pumpkin;
					color: $cream;
					border-radius: 50px;
				}
				&.active {
					background: $pumpkin;
					color: $cream;
					border-radius: 50px;
				}
			}
		}
	}
}

.swing {
	@include transition(all .5s ease-in-out);
	@include transform(translateY(20%) !important);
}

// TYPOGRAPHY

// LOGO

h1.mobile-logo {
	position: absolute;
	top: 0;
	width: 200px;
	height: 200px;
	text-indent: -9999px;
	overflow: hidden;
	left: 50%;
	margin-left: -100px;
	background: url(../img/logo.png) no-repeat;
	z-index: 2;
	@include transition(all .3s ease-in-out);
	&:hover {
		@include filter(grayscale(100%));
	}
	@include mq(tablet) {
		display: none;
	}
}

h1.desktop-logo {
	width: 200px;
	height: 200px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../img/logo.png) no-repeat;
	cursor: pointer;
	z-index: 2;
	display: none;
	@include transition(all .3s ease-in-out);
	&:hover {
		@include filter(grayscale(100%));
	}
	@include mq(tablet) {
		display: block;
	}
}

h2 {
	font-family: $lobster;
	font-size: 2.25em;
	line-height: 1em;
	color: $orange;
	text-align: center;
	@include mq(tablet) {
		font-size: 5em;
	}
}

h3 {
	font-family: $lobster;
	font-size: 4em;
	color: $orange;
	text-align: right;
	@include mq(tablet) {
		font-size: 6.5em;
	}	
}

h4 {
	font-family: $cabin;
	font-size: 1.5em;
	color: $pumpkin;
	text-align: left;
	margin-bottom: 10px;
	@include mq(tablet) {
		font-size: 2em;
	}
}



.hero-wrap {
	float: left;
	width: 100%;
	height: auto;
	padding: 10px 10px;
	background: rgba($brown, .5);
	border: solid 2px $pumpkin;
	border-radius: $base-border-radius;
	@include mq(tablet) {
		margin-top: 100px;
		padding: 40px 20px;
	}
}

.hero p {	
	font-family: $cabin;
	color: $cream;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.75em;
	border-radius: $base-border-radius;
	padding: 10px 10px;
	text-align: justify;
	@include mq(tablet) {
		font-size: 1.25em;
	}
}


// FLASHES

.success {
	@extend %flash-success;
	display: none;
	border-radius: $base-border-radius;
}

.error {
	@extend %flash-error;
	display: none;
	border-radius: $base-border-radius;
}

.notice {
	@extend %flash-notice;
}

.alert {
	@extend %flash-alert;
}

// LEARN BUTTON

.learn {
	@extend %button;
	float: left;
	background: transparent;
	border: solid 2px $pumpkin;
	color: $pumpkin;
	font-family: $cabin;
	width: 150px;
	position: relative;
	left: 50%;
	margin-left: -75px;
	text-transform: uppercase;
	text-align: center;
	font-family: $cabin;
	cursor: pointer;
	@include transition(all .3s ease-in-out);
	&:hover {
		border: solid 2px transparent;
		background: $pumpkin;
		color: $cream;
		border-radius: 50px;
	}
	&:focus {
		outline: none;
	}
}

// LISTS

ol.default {
	@extend %default-ol;
}

ul.default {
	@extend %default-ul;
}

// SIMPLIFIED GRID

.row { @include row(); }

.whole { @include span-columns(12); }

.half { @include span-columns(6); }

.third { @include span-columns(4); }

.fourth { @include span-columns(3); }

.sixth { @include span-columns(2); }

.one { @include span-columns(1); }

// HERO


.hero {
	height: 1000px !important;
	.flicks {
		height: 1000px !important;
		li {
			height: 1000px !important;
			background-size: cover !important;
		}
	}
}

// SECTION HEADERS

.section-header {
	background: lighten($brown, 10%);
	padding: 40px 0 20px 0;
	@include mq(tablet) {
		padding: 50px 0 25px 0;
	}
	.page-wrap hr {
		background: $pumpkin;
		border: none;
		height: 5px;
		border-radius: $base-border-radius;
	}
}

// FOR SALE

.sale-half {
	@include span-columns(12);
	@include mq(tablet) {
		@include span-columns(6);
	}
}

.sale-one {
	@include span-columns(12);
	@include mq(tablet) {
		@include span-columns(6);
		@include shift(3);
	}
}

.sale-half, .sale-one {
	padding: 40px 0;
	.gallery div a img {
		width: 300px;
		border: 1px solid $charcoal;
		@include mq(android) {
			position: relative;
			left: 50%;
			margin-left: -150px;
		}
	}
	.sale-info {
		float: left;
		width: 100%;
		padding: 20px 0;
		.goat-name {
			float: left;
			width: 100%;
			font-family: $cabin;
			color: $pumpkin;
			font-size: 1.25em;
			font-weight: 700;
			text-align: center;
			@include mq(tablet) {
				font-size: 1.5em
			}
		}
		.info {
			float: left;
			width: 100%;
			font-family: $cabin;
			color: $charcoal;
			font-size: 1em;
			text-align: center;
			@include mq(tablet) {
				font-size: 1.25em
			}
		}
		.sale-price {
			float: left;
			width: 100%;
			font-family: $cabin;
			color: $green;
			font-size: 1.25em;
			text-align: center;
			@include mq(tablet) {
				font-size: 1.5em
			}
		}
		.sold {
			float: left;
			width: 100%;
			font-family: $cabin;
			color: $brightRed;
			font-size: 1.25em;
			text-align: center;
			@include mq(tablet) {
				font-size: 1.5em
			}
		}
	}
}

// ABOUT & BREED INFO

.copy {
	float: left;
	@include span-columns(12);
	@include mq(tablet) {
		@include span-columns(8);
		@include shift(2);
	}
	padding: 40px 0;
	p {
		font-family: $cabin;
		font-weight: 500;
		font-size: 1em;
		color: $charcoal;
		text-align: justify;
		@include mq(tablet) {
			font-size: 1.25em;
		}
	}
	span {
		color: $pumpkin;
	}
	figure {
		padding: 20px 0 0 0;
		margin: 0;
		width: 100%;
		img {
			width: 100%;
		}
	}
	figure figcaption {
		font-family: $cabin;
		font-weight: 500;
		color: $pumpkin;
		font-size: 1em;
		text-align: justify;
		@include mq(tablet) {
			font-size: 1.25em;
		}
	}
}

// PHOTO GALLERY

.mix {
	display: none;
}

menu {
	float:left;
	width: 100%;
	padding: 0;
	margin: 40px 0;
	clear: both;
	z-index: 203;
	@include mq(tablet) {
		width: 50%;
		position: relative;
		left: 25%;
	}
	a {
		@extend %button;
		float: left;
		width: 48%;
		background: transparent;
		border: solid 2px $pumpkin;
		color: $pumpkin;
		font-family: $cabin;
		text-transform: uppercase;
		text-align: center;
		font-family: $cabin;
		cursor: pointer;
		@include transition(all .3s ease-in-out);
		margin: 5px 1%;
		@include mq(laptop) {
			width: 23%;
		}
		&:hover {
			border: solid 2px transparent;
			background: $pumpkin;
			color: $cream;
			border-radius: 50px;
		}
		&.active {
			border: solid 2px transparent;
			background: $pumpkin;
			color: $cream;
			border-radius: 50px;
		}
		&:focus {
			outline: none;
		}
	}
}

.gallery-wrap {
	float: left;
	padding: 0 0 40px 0;
	margin: 0;
	position: relative;
	width: 212px;
	height: auto;
	left: 50%;
	margin-left: -106px;
	clear: both;
	@include mq(android) {
		width: 424px;
		margin-left: -212px;
	}
	@include mq(tablet) {
		width: 636px;
		margin-left: -318px;
	}
	@include mq (laptop) {
		width: 848px;
		margin-left: -424px;
	}
	@include mq(desktop) {
		width: 1166px;
		margin-left: -583px;
	}
}


.gallery {
	list-style: none outside none;
	padding-left: 0;
	@include transition(all .5s ease-in-out);
	li {
		display: block;
		float: left;
		height: 100px;
		margin-bottom: 6px;
		margin-right: 6px;
		width: 100px;
		a {
			height: 100px;
			width: 100px;
			img {
				max-width: 100px;
			}
		}
	}
}

// CONTACT FORM

#contact_form {
	float: left;
	padding: 40px 0;
	@include span-columns(12);
	@include mq(tablet) {
		@include span-columns(8);
		@include shift(2);
	}
	.details-breakout div {
		select, input, textarea {
			border: 1px solid $pumpkin;
			font-family: $cabin;
			font-weight: 600;
			outline: none;
			background: transparent;
			@include transition(all .3s ease-in-out);
			@include placeholder {
				color: $charcoal;
			}
			&:focus {
				background: $pumpkin;
				-webkit-box-shadow: $brown 0px 0px 5px;
				box-shadow: $brown 0px 0px 5px; 
				@include placeholder {
					color: $cream;
				}
			}
		}
	}
	textarea {
		height: 300px;
	}
	.submit {
		@extend %button;
		float: left;
		background: transparent;
		border: solid 2px $pumpkin;
		color: $pumpkin;
		font-family: $cabin;
		width: 150px;
		position: relative;
		left: 50%;
		margin-left: -75px;
		text-transform: uppercase;
		text-align: center;
		font-family: $cabin;
		cursor: pointer;
		@include transition(all .3s ease-in-out);
		&:hover {
			border: solid 2px transparent;
			background: $pumpkin;
			color: $cream;
			border-radius: 50px;
		}
		&:focus {
			outline: none;
			background: transparent !important;
		}
	}
}

select, input, textarea { 
	border:solid 1px $pumpkin;
	border-radius: $base-border-radius;
	@include transition(all .3s ease-in-out);
}

select:focus, input:focus, textarea:focus { 
	-webkit-box-shadow:$brown 0px 0px 5px; 
}





